streamlit==1.43.2
earthengine-api==1.5.7
geemap==0.35.3
streamlit-folium==0.24.0
folium==0.19.5
pandas==2.2.3
numpy==2.2.4
geopandas==1.0.1
matplotlib==3.10.1
setuptools==69.5.1
bs4
pydrive2
streamlit-extras
requests
SQLAlchemy>=2.0
psycopg2-binary
python-dotenv



joblib
scikit-learn
